#Dev stuff
BKP_*
bkp-*
*/bkp/*
DEPRECATED_*
deprecated-*
deprecate-*
*.csv
*.db*
.vscode
jupyterlog
*.ipynb
dev*
.idea/
productivity.md
BKP
*.sqlite
manage.py

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
backend/src/API/api_v1/endpoints/bkp/items.py
backend/src/API/api_v1/endpoints/bkp/login.py
backend/src/API/api_v1/endpoints/bkp/trading.py
backend/src/API/api_v1/endpoints/bkp/users.py
backend/src/API/api_v1/endpoints/bkp/backtesting/__init__.py
backend/src/API/api_v1/endpoints/bkp/backtesting/brokers.py
backend/src/API/api_v1/endpoints/backtesting/__init__.py
backend/src/API/api_v1/endpoints/backtesting/brokers.py
backend/src/utils/databases/sql/crud/bkp/base.py
backend/src/utils/databases/sql/crud/bkp/crud_item.py
backend/src/utils/databases/sql/crud/bkp/crud_trading.py
backend/src/utils/databases/sql/crud/bkp/crud_user.py
backend/src/utils/databases/sql/models/bkp/backtesting.py
backend/src/utils/databases/sql/models/bkp/generics.py
backend/src/utils/databases/sql/models/bkp/item.py
backend/src/utils/databases/sql/models/bkp/trading.py
backend/src/utils/databases/sql/models/bkp/user.py
backend/src/utils/schemas/bkp/backtesting.py
